<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>pli content</title>
</head>
<body>
        <div th:fragment="contentPli" style="margin: 0rem 1rem 2rem 2rem; ;color: #000000;">

            <p style="margin-top: 1.5rem">
                <strong>Contenu du pli : </strong>
                    <span><a th:text="${enclosure.get('countElements')}"></a></span> élément(s),
                    <span><a th:text="${enclosure.get('totalSize').getAsString()}"></a></span> au total
            </p>
            <div th:each="rootFile : ${enclosure.get('rootFiles')}"
                 style="padding: 0px 0.5px 0px 3rem;">
                        <p style="margin-block-start: 0.25em;margin-block-end: 0.25em;">
                            <strong>&bull;&nbsp;
                                <span ><a th:text="${rootFile.get('nameWithoutExtension').getAsString()}"></a></span>
                            </strong>
                            <span style="font-size: 10px">&bull;&nbsp;</span>
                            <span >fichier <a th:text="${rootFile.get('extension').getAsString()}"></a></span>
                            <span style="font-size: 10px">&bull;&nbsp;</span>
                            <span><a th:text="${rootFile.get('size').getAsString()}"></a></span>
                        </p>
            </div>

        </div>
</body>
</html>
