<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FranceTransfert : fichiers envoyés</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    bgcolor="#D9D9D9"
    style="margin: 0px 0px 0px 0px; padding: 40px 0px 40px 0px; background-color: #D9D9D9; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
  >
    <!-- Container table -->
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      bgcolor="#D9D9D9"
      style="background-color: #D9D9D9;"
    >
      <tr>
        <td>
          <!-- Border table-->
          <table
            align="center"
            border="1"
            cellpadding="0"
            cellspacing="0"
            width="542"
            bordercolor="#979797"
            style="border-color: #D9D9D9; border-radius: 10px 10px 10px 10px; "
          >
            <tr>
              <td
                bgcolor="#FFFFFF"
                bordercolor="#979797"
                style="background-color: #FFFFFF; border-color: #979797; border-radius: 10px 10px 10px 10px;"
              >
                <!-- Content structure table -->
                <table
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="520"
                  style="border-collapse: collapse;"
                >
                  <tr>
                    <!-- Note : dimensions logo : 304x75px -->
                    <td
                      class="ft-email-logo"
                      align="center"
                      valign="middle"
                      style="padding: 30px 108px 6px 108px; text-align: center;"
                    >
                      <!--[if (gte mso 9) | (IE)]>
                        <strong
                          ><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABLCAIAAAB4C0wSAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEu
Nv1OCegAACmnSURBVHhe7Z0HfBNH9sdzl0sIufRLLrnkEhICAQIBQk2AQMB0d8umxHRMM5gaWggd
TC8GbIM77r333uUiufcuW7YlS7Kt3pX/k1asF7kX/heT/X1eHDMzOzs7O995b2ZX8it//P9L8YeY
wWq0cevMypeLJerEXiRnc0SlFXIuV/1vXLheav0PgBRSaeWnbqVNW0PW3kEPjJYJhOqMblKIRB32
bk0rjFiXb0kaqX8oFOoMXLheUr0oIIU8IYfJVcg1ERKzORWWT5Jm6iV+syLlm+U5C41bngbIpVJ1
NkYKhYIbm1w3f1XNlzPrJs2jbT+gZBIXrpdaIw+kXC5vrqa5XvCzMnvMoDDVqc/UUVKdbnAgdvKa
+G9WAZNp09dSnfzkUhlkKeRyMKQYSC4SNR88Uzl+TtW4mTXjZlJ1NojrKeo8XLheUo0kkBKxtKmW
HuaUct7Y6vCCc78uOBNhGwmOTp2tkkwsaY5MzTC0iP1WO2mmfs31JxI2B9LlIjEjLJ4WECXpZCMl
wUWCS2w+9Fv11EWU1esEWbkaVeHC9fJpZIAEVJg0dohLxoWt9vuXWJovuPDrz5ceWziVZpSpS2Ck
kMrYZTVFp++WnnsgbGlTrgwVivbU7Dwt09zv19ZfslJInkWwwGQzrd3Jk5+Tp5ApvSguXC+3RgBI
HleQGV92+YDX3pV3zRZd3bPw8hn9uzHOKUwqSy7rCkFRQUwr7uSKmB3CNpaSRpBC0ZlbmKe9I2vG
GppXCJRQFVQJWBeJsaFsd0naO6RcnvofuHCNZg0LSFj01VW3PbSM3qFtvWnxzW2Lrplr3Xx03Kcq
vwHCV3Wh5wV8MfIrM/ZdpaWS5RinJ5dKWWk5zW7BMqFInTQwydls5sGTnfdsZBxl6IsL16jWEIGU
yeStLewQv/wDm93WLX2wYfGd7cvvXTvgQYwp5nFFfSz2xGxezvnH/jM3JJme5lHpSCLiAOGoHj1q
H5IyWcyT5xu/mt48eW7H2StShuYeEi5co0uDBhKwobVy/HwKj+wPNFr12PDnhxuXP/xtl0eUL6mt
pRPCUXW5XgQLyDZyOfH0I2pcFrK5ym9h1LmECJpoUDVSBgT19EE1Km46sWnOUsoX0xq/mEY3NJXU
N6gzcOEanRockOAYs3Iafj0epa/jskbrie5S653Gzt5OmdQGplQy0E0X8IeiDg5Co7CDTfrtQdTc
DeRD13mUFoRJKMBKzqIFx0hFYtURvUrGF/Cj4poWrGpepifMzME3fnCNdg0USPBYza2cO4+I2oZe
WiucVmjZa6+wO34goJBMEfeyXOxRABs1t5QSnyOXSIG34ofewXM2Bk3RD5tmSD5yTcTsgDK8Wkr+
hkOZM3Xqbj6R8gTIgZoCdBEXKpNzM3O48cn9voWHC9efX/0DCSjSGQLv4ErC9tCFK90Wr3BZo/3U
fF9QcGARh90LLb0IotC28oagLVecf9iVc9+no5aaff5xwLxN/t8ahc5aX3rnqYQnUEildQ/dkqau
TZ6oRZxrwIhO6R67gifkJmVw4lLkIvUO0EDiW1y4/vzqC0glikyhf1Td7lMpC/X95630WLjKbfPO
IC+fwuZmWC72zwBwgl0NQpha4Jlgt+iA7YztfoanmZUUQVt7kX1g2Ip9uWceCegs5SFyRQepmLT1
RMocw9q7jlJ2D6+VywSCpsNnqUfPS5nKQ3DhemnUK5ASqTyFRN99LnOBSdiMNX6zV3kvN/a/ZZVV
WUUXiQYUo7J54sC0hqseRSGZTRy+Kp5UKDqa2mLPOzuvPFYVQZSpXgCQCITN2UWcxq5NHXCA7PJa
qn+MGKURmMb4QKBcUFMvqKjBF424XjL1ACS4NGan+KF39Y+bYqdoB09d7T9bJ2DHsQQiqQVQHEhs
KJXJC2pYpldTPjXxft/A+xPT+N2PKiqauJAOXPFZbCq5ippbwW5hIphhYVMLktANWziksq4tNP65
z4XAEQNpCi5co0rPASmTKRrpAvcYqt6vWeN1Iydoh840DDPYF2frXkZr4w9k/AvF0orGDquAku93
Bb2v5/aursc/9cNeJWS/apzzzd6sa76VZRQ2nyeqiCM7rD4ZavGAVlKPbLeClB8N6Q6mXM4pq8nf
dCxjpk7DXUcxndEDvbhwvSzqArKTK/FLppucz5+wPum/ujEA5Nr9ybbe5RW1HRC+qgv1LvB91dSO
W175Sw+HfWzk9p6O67u6bu/oeb9OSPsbgQQGWL5vErnxckb40zRbvQu3Z+2zmrPPd7NlbVKeXCaX
S6TUjCJGRX2XY1SJ10DNN7+YOHVt0jfLgcmq07cETS3qPKWPVMjE/TwawYVrFEkJJPCWWcbeeqt8
4pbMjw0SP9GNm2AUb3GzoKCiXSAcUIwqlsgisyk6pyI+N3H/QNf5PR2X93SeApDgId8yCH2VQPw7
IWesYexHxkFnHhDt9tpenXfk2uwDwOTDH/bnucbKpFJafmXwujNh6860EItRH6iQySm+0XFzTGIm
rY7/ZiUwSdbfzSmvQYNVflUt9YqVmIFv7eB6SfSKWCp3iqNP3EV6xzD9ff2UTwlJKw5l+yZQeQLZ
QFAEmMsb2o89Shtn8vRfOo7v6zi9r4MF0v0dXa+3DMKAxncNAzZdJ9IZvJL4godGllfmHr4x71DE
786wpOQxO6MO3refuc1p+mY/rf1Nqfmon+Q3tZIOXIn5Th+YTJ1n3OwXhT5vFLWxqnb8mj/pJ8qJ
K9JOjozNBcMXlrhGtV4h1/CmmBeMNcx83zj9R4vc2z71Da18iD/V+b1LKpXVUDus/PJ/3Ov7oa7D
B9pgPQA5dUfwkiMxH5sErLuSXlnLzAjILkosrs6q8Dxi73XoSU56dROdX5dS4LTiV5uZO+ymb3Vb
sLvMIwZdWEIo21leW3LZNnnZ9qrbTlJO11MQiF1rjl3On6PddNOWV15DOXaRsu8Ur7BM0dP3D+DC
NSr0yvXAljGErLeMMw9YV5MrOQJR/w8SIKRsauPYBhWuPR7yOcH5X9p2H2jb9wjkh4aeNsFl8eSW
Hw/GOEZWJfpmn1593dL4bml6eUdrew6xbvMN8p2AOm47r8AzwWX1Cbv5e0g2QWKu+n0DOBEjrzzv
gi01Mr0tlSRitCPpaikUYjqTGRYvqGtsvHC3cOrSogkLajfsFVZUqwvgwjXa9MrOR3WvGWZ9ujmn
opE3wBg1NoeifyrsSxPnD3XsgcY+gHxPz33t6fgTduQJW0L8khqKMqp+N7Sy2udIpzD4QunZp+Uf
b4w9alda3sgV8ITl4cRc+3Ahhw9nQZaRQmZnyv7rATPXR6/eRwlJAm+pasJzUshkMg6PcuFu/pSl
+V8vaNh3SoovKXGNWr2yxUoJ5OfbcqmMXr/9DZFUJm9u41i65k42dUNR7BtICFnf1fP6wMDnHT2f
hYdj04ropNSqYhKFwxX7pTaP2xpncCm3nsZndIprW/gCoVT5qoBC0UGh1SaQBO3svAc+HjNNvaaa
+E0lxKwxZ1c+/2EOoPbZ20JiBqvh/J0Kgx38skpIRxJx4Rp1GhCQMrkClovWAQVLLPz/reuARRGx
3oB8R89rrGHMmwaRb+v6vaPnN80sas+93Bu+tbZRreuv5U7cmRCU2SqVKaD+yNw2uyhqW6eYy+iM
OePguMQi5aJLgX1oKOGUx4yNgT+ZVT4NlQqEIlanXPUuO6DYWVrVGpks7lB/LlnG44kamtAdWly4
RqMAyNq+gYQhHkls0D4e8gXBSYND1DSAfF/n6Yf6bl+s95myO2n64eLvjxZO3R336Yag9wwClhxL
TCpktHaIi+rZhMs5hpdIOZUdxXWcxSdzxu9MD09tDL/gen/+gQczzWzn7ArcdIlk7Z+w/1aFZ7SE
L+isqM8+fq/OJ1omFAmodPK+C8nzTYqPXudTW9VtxYVrqIJx3skV01n8dnY/oeILVf8esqGVO8fM
+6PnY1QNQ4D8l47TVxs81p6MvPyUHE5sLK5rr6MJGhniJqa4gcYvqGn3SGiwCqxspHPg4muaOYuO
pb9FiJpxIG3hr1lvGyeY3St2vxRw48ejN2ab3/l+j9VMM5tZZhHmd9pK62RCsYDNzThp5T9jfdiC
LSX33VvjifELTZXPQn76hVNZp27r8FRUxSCX0fq1hhb2QHahR7VoTL7GVfdt+eX0Ds7gvnvlzyOp
VB6UWGV0NHj2hqffr3eZteEp/A49oM7+/1X/HjIkrebfun3RCPaRrsOEje6/2mSQqxgCkRTzAY/n
BIkSqQKMyxftf1T4tlHkWIOoNwyi3zCM/elETkEVK/pByPWfTlrOtrg5S8nk40UHsx4FUpLJIg6v
hVQWoGXuNW2d73cmmfstBW2sKhuv5OU7WiNTRypMnbXe5dPlNv3a0duJwoG9Xj96ZeOTp3HVfdsE
HbvItFr1waNKnVzRoRsJn6+0/XjZo38vVdsUA8fqRuVHc1+opDI5XyABn6z+t0r9e0jfpMo+3OOH
OnYztnkefpCWWtgsEg/0sxdAbGIBY/GJ7LHG6WMME8caxepfyqug8oQCcU5Axj3dS5ZzLO4vPpph
G5ptF+6y8lh5UKpUJK4NSwsz/DXF4ia3URmjigXCzqoGWIAidQ5fM4yd0VvShx2+mfDSA2ntnadx
1X3bl2uehKeOPiABCbuAQmi8xuVMNnB4cUDC4IcgKzm38Y5rDuFY8Pi1T9QZKvXvIfsG8vsdXv5J
1TzhoD+tL5MrPFIYH23L/weBOMYwHkJW7Yv5meUd/um0g6fjHm65n+oYG5zWGhtalGkdzKpr+UOh
fEmAUVTNaaKPlEvUEA4kqr8IkLBcNDgchL2Qz1bYQOC6YIv7iwOS1SnUsQiYbOCI+ORPtKzVGSoN
C8hP9B0uOmdzBYOmEUJaCFy9U+kfb80ZY5Q0xiB2jEHcWELit+bZX+wk/mdLxulHhW5xzUvOlERF
lFMLa9EXdzQeaSh3esBJjhCfWCAhDFu41WONuV93u+eWKx7wFwiNUv1FgGxu407QtUOv4jtj58CE
KkhsZfAG8oGKoamVwf1i1WP0pCMGJASrP+zxza9qU5cbjNgCiVtC48JjaW8aRcMacoxBzBiD+NcN
E143SvrOIueoY+34PaTJ+/Pt/Ktc9zx02XS9kVSlkCvEfCH2a68kfGHhfc+olfua47NkkhH4Qh0s
kJP1HZJyG8GNdzcIOaAwRDtwzxCTqm4epAKoXL6Eyxdjo3eYLuCfHJ7y26EhFw6ERNWU1FUDVIsU
xlYLhiTCLzyBhM0VcVQ19zH9QD0CoRQ5F/xUPtrtKaSHJkFToU4oxlYVQy4KFTQPWoJaE42z2twP
7RwwGLjQKrQA1AaGNhvZ9JLJFHAK6A3B8x+jRS5H2cJnHQW5UAl6OByIlISK0EQwZOaF/8FAYHPF
0HK+UIIW1hAcqyyGdIWqDWgnw/+Q09U2dWAvatu5SGaHANI1egPpLrh36u5S7ZKo854JKkfbqTyT
Kh9+QXpAqLpMpEwTja0BJHogHDVEIIHGebt94knKIasuNxjBiVs7RMfsS78xS3xvXRw4ydcIGa8b
JX+zh5hW2tHMEltHtninMQrjCm6vOnvn55PZbvHsVlbSDa9chwhBu/J1VqlQXOYe5b9op/dU44jl
exrDU4b/JVfPAWngkEpuUmf0JKfgYksH4lV7pd1xzYWuJ5XSztumw6pA/1AgLA9gvQ7FoJcTcygn
7iWDa120zRNyoXBJDaOK0o4cCwb1RDzbEfGKKkfTbzpnAyqFVW03nLNNjocs3u6pfcD/2J2kiNTa
7jEzNKCoqu2Jf8Gui9Er9/oq3ft+P7OL0VaeZGgAwKwu98cfcGxcVsPv1mkmv4ZAseW7faCYfUBh
RT2rt1ijhcFbs98f7RywkKRqbNmSaga22aW1TBjrtr75m34L1z0YcPJ+CrIHC40sqKDfcMlefyL0
p22eaw/4n7JKgcY0tnIe++WjNUDlyAVCR6GJd11zqyntMDW4hZfuvBC11Mx7+R6fLb9HOAQWaeyL
wJiEA2FxuPNC9Io9PnCN0G97LsdAe9LymoAoMKfgIqjz5P1k7EUt3uF58XEGpGcVdX3ED1oCHQjd
ZXgkCKrS2u2z+1LMs+5SlwE+YfpGmwongh4rrmbcdcuFK4UeuGKXCSMhIZsCub89SIX4Cz3px8us
0QMZ7YIhbup8vf6pT0KVrL9vYe1DcC3NTGE0qW3V+YJXjbP/RiD9g5A1aV+2RxLtkBPFPYXJFUo7
6B05/hnpLvE8FqeOWPZ41Skv06uMaioczG9rj7e47TbD1GPaOv/ZpqWP/aSC4W67DwrIDSdC0cL/
WW4NhX/c4g6di6RsPBXG7BTAfYJbMv35pSnMiIDW749Su1KWWR+9nYhUu/tyDJr+35W2XlFlS3Z4
/UdLXS1iE3Ts7nuQsZM0LEsu22Uu2OIBlWNLIjbFwPHwzUSY46EkeCQYEN8aOn78fBk4EMiMyajv
PveD+gUyPqsBzfp8lS0M619Oh6HDDsZxSxsX5v+ojDr4XaORk/QdzC5Ez9rwFE0xvxqLAAwkoInj
tZ9csSduOBkK3YImgsHpzjxMRR+6wLh/4lfw03bP7l0B/QxBKUxYuSWtK/b6auRizdonD6kNooyj
t5OmEZywe7BgUDmQCZeDdAKEIVYeJDT3+/Uu99xJK/b4okfBFAl+FboFLdOjVdQzhwIkuMe9txM7
MJPu0AR3KL6AMe1A9t8JOSogiWMIKZ9szXz7FxLhVk1ZGd3zgl9ZermQJ4SZW8QVkLySSsKI4BuV
x0plTZlFwcanXaf/ErfzUuez73QdjrBAwl2H5f6uizEadvRWYh21EwpvOxuJFgZbuM0D+08ESPeI
0u47eIiNW40JWjBAgi9F0+F2TjVSL/01DIZ1ZYP6VXsgzdKR+OWargq7287zUUj3HL+bpDGgUYMT
rd3vD55NVetz6hfI/HIamgXTB9D12YouJ4AACX5s/mY3NBFrgC520kGBzClpRROBga917DTmJsQm
6NpDeIK0JI7YADxoFMDaom0e4GkHAiTMTfst47AXgjXorlX7/CDSQUo6hxSjWV+tffKdsRN2Rnix
QE42dUstbB7+VgpUYB/d+NHG+DeMkoBGCFlfM0x6nZA+dgP5hGP9o9P+Rxedt9lnz2hkyKQyiUgC
P7F/DgQWc8zy+viDd2h5FSOyr4MFEgx8CHS6hoFvyStX3vvjd5M1nAzkwliH5QHcQgCyvI419xdX
bAGY42Gkfr/+KZZGMCyQ152ysFlQ5/i1T6YaOcF5sSPja2270OQa5BAIjaYZOaFZMGRhgMKkDvaN
ngM0CSqBKBdKhqfVohMEJM5c53LJLhMuBOpHrgV+QqQHTgapGVW/QBZW0rG5iEHg8MXqx9AAYKC5
jQvxPDYXPBs0YPbGp9/o2UMPYLNQIHNLW6Gd2CzoXugKaDB2GQZ2+2kONBsW8+dsus7y5donW89G
nn6Quu9K7JyNrnDtcIGwZIDLIRwNBs88UdceLQwGTYXGQLpjUBGc3S+uAqYAJAtin3mmrpaOWRDl
fvfMYUJXI90FQD4N7QISNZhokPGwap8SyJsu2chJNUYOJCIGM8VQgNQ/HdbUNjJ/9L+8ifudedob
BrFjDBOUmzqEtL8TcsFbfrSFvGZb9CEj22jnZDaTkx2SE3YnhFbbin5wWSYFRiXAoUQgHL5vRKQB
ZI825RmQECZhxwp0vfGx4AeeZNewErjlD73I8BPrHueausYS62HEwCrfI7Jskp4DmtUHkAAwLC/B
B0JQuu9qLJoOh8ByES4frvycdVpXupb1L6fCSKWtMERgKVXZwHrklbf5TIRAKBGKpRDvoUE1tKfq
mY91Cy9B5whY63Z2i30GCyQ0AxZ4lx5nuIeXQgOuOWaBJ4GxjhaA7oKgDgJCOBbWewaHA9EsMBTI
/Ao6dvKCoWztnQfNg3UdhOhAO5oFIQCMeOhbbC/BIhmmRWSbA44KSqyCeBWmBpjYYdUKox8WGmhh
MOgomN0gvYMj5PIlm8+Eo90FMXCN6kEIXDXgCj4QSQewmR3KtYkGkDAZQYQFi39kPMBthVvP6BBA
5cTC5s8xQQr0FSQiBjd6aECGjxSQIol8y+3CNwxVu6xGKa+qYlfExq4nzd9LjCO2ZIaQLuvfPLPo
jPNBB0pRvVwml3K4nTYOndfviotLR4pG0HCAXGrmBXcaaQv8gJ6FWRkbtDwNK0HdOPyCDU17AxJJ
h9GDZMGKBc0CQ3wCVDl/U1ccOMXAAdZd2C6B32HEwC/ldcwFW9zRkuC9D91MOHYnEWznhWg0joWx
QqVr3tzBAjlvk1t6PhWGKZIL7YxMq0WXlGCwvuIL1ftSUE90Rh3W46FAFla1QSyApm/9PYLRrv6s
LKxaISxEs/QOBvKFElghYzt2vLYdRJWwQL3nlptMauTyxYAZcjgiSisbLQxmbhkLVCNZ5fUsWL2j
WdB1B2/EI90F3KKthTkC2O4OpOGRoOrGdrSHILxT//YiHnv8sNe3XBU6j4hswilvEeLAQ0LUitKI
2OvryIRT2ec22h5ecO7Y/N9+W/hb2K1gIVfIq6xumbmQ9vV0wWNHWFCrKxq2sEBO0LFzCCyEkEnD
CiroMA1DYQ0gYcJGKkEEgwPcEZoLhqw8UYUmV6NZvQEJsyy4XCQdBEMczQK76ZwN2APbWOznmbo1
tDz7E9TPK6OAit04gZNC/Wp7fmFW1O1R1mCBXH8iVMPNglfBnuW3h6nqDJUAvBkmXZ3fG5CwAAao
kENSSI3YQ5bv9ob7Ai3yi63AumIw8HIAACQCYC4hxdjnQH0ACX5sIN0FY6Be9aXhGkDeepqDPNHp
rpEH8qt1LmnKNaS6wBAklUq5XC6NRmtvb4/La/tgYzIsHV8jpCPxKmqvGpNWnsq/fdz/yDLLQwvO
XTe5W0OqUcgV3NKK5slzWv87iW9l+4KAnGzgkNLnLqsGkDa+6n05RDA4YFCiuWBw79V5KoFPQLP6
APKRd1e1QBSaBYYACXcdmwjesonW89/JBJ6xux0QdE03cYYx3d1KaxjqY55psEBu+i0cpiR1nkoQ
tmHHMaym1Bkqgfeeb9rl53sF8l4y6uI0gNTapQQS0qFPIFD8ztgZAlroWLQAYgDn4VsJKCp9AJlZ
0AyrfTQL1v/TjTU7CjGIq7sDCaE1xAVIVRoaeSA/1rN3jixFQ6nBCmgEFMvLy4ODg4OCgqJzWt41
JQGK4CH/YQRMqqNWSPlqb4F/JotBY4c7pVzfbpcVkY/8jS1uabkayAcvEMi+H3v0DSQMC1iBoLlg
WUUt2BnM1jcfzRoOkOAhsSvVGSYu4MPVBzwvUhkNu8kEARg6+PrV8IF0DS+By0ELmF2MVmeoBJ2D
3V8ZDpCIIEyAxdvJ+8kQp8DyD13ygYGrhKgeKdYHkLAw+QGzJwzOGVu/hgYFJJ3Fx65+AUjsU+Wh
APmhtt2RB6kDv50agjEkEomKiorc3NwKCwtDsplvbiQjBCr9pGHq342y/kbI/WQ76bf7+UUFyqWI
SCBurqaLn93jPz+QoLPWadh90V0XotE7BLcERgmaNTwg/8C+jQlLQfAPgmfLMxAEVNY++fALq1O4
fLcPWnKqkVO+ajGMiieUgBdFSNDQ8IGEc32K6Q3o3uJqtR+WyRWXnmSi2ydgwwGyrI4ZkFCJbBeB
z4A1J7hfaC0af0IXAS2qOvoCksbk6VgEoFlwuEYkD2vgpNxG5MOTgwIS0tHNWzC4cN/YCqgByR3K
pg6Y3qmwTtU1D010Ot3T09PJyYnJZNa0iMbvKwIgXyMQXzNMBvuHYdq7v2QfuVu42djllLlvTQVN
uR2Cuf2jAsjI9DrsrA9wrj8ZCl3vHFK8fI8PNpoaDpCQbudfgE0fv/bJ7ksxXtFlcK4jtxNhJI1b
/bi6sQO68JxNGpYKiGCtPMgAYSyxHkLKpWbeEPFCAIacDqvhAwls/IjZUoKu+3mnl31gYWBC1aEb
8ditVLDhAOkQWDRJ32GuqetVB2JOSQtCZk5JK8QOSEkAEsITVR19ASlXKM4+6ppSocGzN7o+9CJn
5FOjMupuOGXBlPrDZnfknZ5BAQnSPvBcZ0KDjY8FQ0hFKm1VAzlue24zq4epEdQjkONNXOJyG7G3
ZLCCqJVMJguFQrjyRxEtQCDyHBKAfGtdhsn5PNMt/muWPdFfZnNqn29tFTCpPhDUtYb8EwMJ94Nw
NLjbs0prxBVgHcIwgQQfCIMD2xg4KXIiNBGqhZLNbdwFW597gQEKwNmxJW1887uPpOEDCYIJAhsy
gGEbie2oIQPJ5Yv3PHvVCbk0CAiVhultGP0J2eovZ+oDSBB07MI+uwt+sfVTdtdggXSPKNXYSEMs
PqtBHbJOMCPRO3rweOCaooh1s3d6T9jw9FMDR4TMD3Xspm521z8dXlLHGgaSXWrnSrfcLRlLSFQC
Scj4Yle+xTWyvrG3lpbDGq0nB3d6lxQ892U5owJIUG1Tp65FALYYYrCEMDzSFWcOE0iY0aIz6pbt
8obxgS2ANZh9kTfgS2uZJsdDPuvlZR0YJfuvxSFv4WI1IkBCa08/SOn+RhE0e8EWd+AETRkykG3t
fP3DgVj8NOyzlTanYbX1LKTvG0gQuFajo8Ea8whq0F2HbyaweeLBAikSyyCKwUYriPUFJAIA/KQy
uNHZlMS8ptD0ugf+BevPR31m6PizRcBBq5STjzM4z7ahhyM4VUIha8LuDOTFgNfXkWcdKT5jlU/Y
6Lthg3dyUo0E8xgHNFqABNVROy8+yVC+CqMqDLdQa7e3T0w5hGroscMEEgTLsPJ6FgRUEAdiRw+E
gsjnxSBX+chSJfCTT/wLIR1bEn4HpO97kGDFha5nUI0IkCBYxz7xLwC3g3Yd9MzvD9NgQsEGtEMG
EhiAkPuuay6sq796/qVFmAjWnQgNSqwCfpAaQP0CCaLSORBar9nvh32O+vkqW61dPnfdcivqWTKZ
8gNAgwIS1NLGvWyfOd3EGQ0NIJbOLGxWh6waQGLdEdQrkcDdVJ5VLJW3MHkesZW55bROrojezh/y
XitWUpkiuah9yj7i60aprxqr3ms1yf16D/myU7lfUJmg24T9goBkdAjoLD5ibe0CdLj3KJiJ0MJg
PY4/REKRtJXBS86lRKTWkstoMChlMrlIIsMejo4SGFXYdGy10B5sFpTU4AYKtLOF1Y3tMNGGp9YA
wI2tbBjZ3S8E7imkN9E4SbmNYSk1sC6itEBJYW+XDLceasaeHfk8ESpwv9hcqByLK1ZIIwsr2+C8
mQXNNCYPGIBRxOzs6nw2V4RMH1AtOD00HRaE6MiEerD3C3oVyYEfkAWDE2rOL6cB6nCipBwKsIe4
MtXRasFEhtYABuftsdnQXZ0cUUMLOyGbArWl5VGh6zQ6Fq4CW1Uf4wEVDAxmh4BUSoM6IYpuaO6E
E/UMJATFIC6XK5VK0wqbL7nkxOZQAEUEP2gz9AtU19v9G6yCibQpe9PfMEpQvssKTBKy/kEg/t0o
8z87yBGkrg+5oHpBQOLC9T9Xz0Bi5ZdU9W9d+y9NXLRPhDqGlzbSOdVNHZHE+hsepNrm594+GbKC
iPT31ie+bqgEEtllfdUoHYAcuy7nQUQrGmuhwoHE9bKqn00dUFohFRaNyOYqYLn8SNDiA/7fbnY3
ORuJDceHLJFEcdK18Z8mqRggUxEg39qY45HSwzfo4EDielnVP5CwVtluGfex3nNfWD59m2dKQXN3
3zUEQVh/LbBljAnxdUPVLuszIF8zJmqdK2vs6ekoDiSul1X9AwlqZfIuOWfN3O71bz17CF/n7/Gx
DysRql4TGT6Tta2i6UeKxxBSUA851jh9kjn5vGdjY5vyo8nqchi9oBcDcOH6n2tAQIKEImlmcctJ
2wyz6/HZZTSJVPlp4crGdkZnz+/3DFzVLYJxOzOQL7kaY5T0pRnRwq46p5ojlvS6f8spKmmeNBsH
EtfLp/43dRCpHnvIuQIJQ/VxTBZbGJZRF5NN6f7cpg/xhLKC2o6Cmo4mhoArlIKHFUsVXiktH2xI
ACA/3pyy9V5JbB6rg9fP31HvJOc3T5yFA4nr5ZMayK92kHp7dQ4R0IiNHssaWKQKunAAf90VFYcv
PeVQOHlH1Dc7ouYdTCJczj7pWLbfpnjSrpSxhrGzDhLdk1qYbM0nRT2Kk0tunvi9EsiHOJC4Xiq9
ctqt6TWjrHeMidd8KPR2MfJ9B/2qx6VdHxKKZZfdSz4wCnxLL+CfekFv6oe8qR/6pkHE24TocdsT
D9iWVVH5A0FRIZaIG5oYJ85Rx02lfTlV4BcEU4U6Dxeu0a9XkovZX+wgjzXM/MA4Q+9soX8Kra1D
/b4CUIdIVXLoggoS82mTtoe/peeHAvlPg7CJOxMsbItTS1jCAbxgABGzqJ7CsnFqWm1C+WoG9Ytv
mbomkurR923ZuHD1oVe4Atk1v6bPt+a8ZZD2gUHKt1vSza4VJpKYfeypDFYCkezIY/IHRv4okO8R
wgwuZkfm0Nq5XS9D9SEph8sKCK9fv7t66sLacTMoX0xrXaItiIxViEfgQSguXH8evQL/8YSyaFL7
0hMF7xskf6iX8Jl+/HTTpLOPS+ms4e6gIsqrbp9rHvW2ni8A+bZe4LTdsY7RDW2dooGEx8ov7Cgq
r91zsnT6srLxcyvHfV87flab2SFxcZliJP58AC5cfyopgUQEWD4IpMzdk/m5YcJ/dWK+0o00PJIW
m9HS3ilCVnfgymQymVis9GmIkAP7FnjaK+7F7xv4vqvv96Vp6O57uZVNnIE8vVRIZSIao9XZt3Ch
Yd7XC4q+mlc+ZSHFYDMnJAp3jLheVnUBCZLKFPlVnRcdK5bsTR+vGzlhbegc43Dz8+nhiQ3t6Nv0
CoVUqvxIpsZPYFVVh6aqqJw55pETt4aY3SVGZjVxe/9iElSwXOQ3UJtcAos2Hsr+Viv360X5kxfX
6G9ts3MTU0fgG8px4frT6jkgQTDauQJpQWX7OduSWeuiJq8NnrYm4Of1oWduEEsqmN3/mAfyOAR+
giQSCUIm/K7O/uMP5+jqDVdSIrIaGeyeX7vRkFwsocWkkzcfT/teL23iUuLEJYVLTFoeOgsqa+WY
P32FC9dLKU0gEQE4fKEsJLFJe0/8d2sDZqz2m7vWR2dj0FPPYo7qk6MDVwdXDF5xQMtFhYLf0lZy
ySZhDiF+8srkiVrpk5eXbjnGySuRQ4yK+0VcfwH1DCQiIITSzLnjWKSzI+oHbd/5Kz0WrnTbdzAy
LZ3CBnc3sCeWA5FcJuO1ttW4hSWs3hsxWSd68pqkmXok/T2NDt6i9pH5hBcuXKNCfQGJSCJVlFay
btuS9TcHA5CLV7gYETwtrySmp9RyOeqF5ZCl9Ir09pqA+OSdF0Jmrw+dohs5VS/T8EC9gx+vvgkb
+uLC9VdQ/0CCABsOV0wqoJ27mrpSx33ZcqdVKxx+MXa9dSW2uoLe49/oHYikQhElPjd+j2XAwh1+
04wDvzWI+tG0xPIJp6JOpvqbc7hw/dU0ICARAZYCgSQ6pnL7joCVyx3WLHusv9zGYqt7bFgRl6P+
EygDlJJwenuulY/3UnO36b94Tl0XMHN96o5ztLQ8mVAE2epyuHD9xTQIIBHJ5YraWtaD++lbN3oY
LLc1+Pmh6Srra8cDSWnVXLYASFOX60VymZxDay8LSQvadNlx1jbn737xmLU5XO9IuUOgsI2Fo4jr
L65BA4lIKJSUFtPsrdN3mTib/Gy1YcndvboPH18KLc6uE4t6fdIo5PBLQjMD9957snD/4xnbAMgQ
49OFjwPaK+plkkF8jAsXrpdVQwQSpHw0whOTMussTwRvWfHA9KebO3++edL4kcftqOZqmsbCUiqW
UMjVIaccbbSOW83a/WjmTqdF5mmXnBgltcifKMeFCxdo6EAiggiWxeBE+pGPrLfb/tN1s0VXzRdf
vbzROissT8RTP7HktLGTbSMfap+7Odfi9qy9VnP2em+4VBmZBQ4Tj1Fx4cJquEAiksvl1HqGy83o
Y/oP9i66vH/BhRNaV11/9y7PLC+My3fY9ejqj8euzra4Oc/CyehCjkMEl8YawceYuHC9NBoZIBEJ
+eKSrFpXy9BT2rcOLTh77MczZ5edP7/4zLl5xy7PP/JI90LC3QBaGUUqxpeLuHD1rJEEEqRQKHhs
QXFGpfVB5xM/nTsx/9TpecevLj0TcsmrMb9W/CyIxYULV48aYSARQTjaSWcTg3J8LvkGWvqXJhcL
OP0/EcGF66+uP/74P/Dje5NOViZcAAAAAElFTkSuQmCC"
                            alt="FranceTransfert"
                        /></strong>
                      <![endif]-->
                      <!--[if !((gte mso 9) | (IE))]><!-->
                      <!-- th:src="${logoFt}" -->
                      <strong
                        ><img
                          alt="FranceTransfert"
                          th:src="${logoFt}"
                      /></strong>
                      <!--<![endif]-->
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="ft-email-logo-sep"
                      align="center"
                      valign="middle"
                      style="padding: 0px 40px 0px 40px; text-align: center;"
                    >
                      <hr />
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="ft-email-main-text"
                      align="center"
                      valign="middle"
                      style="padding: 20px 0px 0px 0px; text-align: center; color: #414856; font-size: 13px;"
                    >
                      <p
                        class="ft-email-main-sender-email"
                        style="margin: 5px 0px 18px 0px; width: 520px; font-size: 26px;"
                      >
                        <strong>
                          <!-- th:text="${enclosure.get('sender').getAsString()}" -->
                          <span>Votre pli a été envoyée</span>
                        </strong>
                      </p>
                      <p
                        class="ft-email-main-enclosure-quantities"
                        style="margin: 13px 0px 13px 0px;"
                      >
                        <strong>
                          <!-- th:text="${enclosure.get('countElements')}" -->
                          <span><a th:text="${enclosure.get('countElements')}"></a></span> élément(s),
                          <!-- th:text="${enclosure.get('totalSize').getAsString()} -->
                          <span><a th:text="${enclosure.get('totalSize').getAsString()}"></a></span> au total
                        </strong>
                      </p>
                      <p style="margin: 13px 0px 13px 0px; line-height: 18px;">
                        Votre téléchargement sera disponible jusqu'au
                        <!-- th:text="${enclosure.get('expireDate').getAsString()}" -->
                        <strong><span><a th:text="${enclosure.get('expireDate').getAsString()}"></a></span></strong
                        >.<br />
                        Au-delà, il sera supprimé.
                      </p>
                    </td>
                  </tr>
                  <tr style="color: #414856; font-size: 13px;">
                        	<td style="color: #414856; font-size: 13px;" align="center"
                            valign="middle">
                            <br/>
                            	Le mot de passe pour accéder à ce fichier est : <span th:text="${enclosure.get('password').getAsString()}"></span>
                            </td>
                        </tr>
                  <tr>
                    <td
                      class="ft-email-enclosure-contents-intro"
                      align="center"
                      valign="middle"
                      style="padding: 15px 25px 5px 25px; color: #414856; font-size: 13px;"
                    >
                      <p style="margin: 0px 0px 0px 0px;">
                        <strong>Envoyé à:</strong>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="ft-email-main-button"
                      align="center"
                      valign="middle"
                      style="color: #0269cc;
                      padding-left: 100px;
                      padding-right: 100px;"
                    >
                      <p th:each="recipient : ${enclosure.get('recipients')}"
                        style="
                      float: left;
                      padding: 4px 8px;
                      border-radius: 15px;
                      font-size: 11px;
                      margin: 5px;
                  "
                      >
                        <a th:text="${recipient.get('mail').getAsString()}"></a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="ft-email-enclosure-contents-intro"
                      align="center"
                      valign="middle"
                      style="padding: 15px 25px 5px 25px; color: #414856; font-size: 13px;"
                    >
                      <p style="margin: 0px 0px 0px 0px;">
                        <strong>Récapitulatif de l'envoi :</strong>
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="ft-email-enclosure-contents"
                      align="left"
                      valign="top"
                      style="padding: 5px 25px 40px 25px; text-align: left; color: #414856; font-size: 13px;"
                    >
                      <!-- : Optionnel (s'il y a un message) -->
                      <!-- th:if="${enclosure.get('message').getAsString() != '' && enclosure.get('message').getAsString() != ' '}" -->
                      <p th:if="${enclosure.get('message').getAsString() != '' && enclosure.get('message').getAsString() != ' '}" 
                        class="ft-email-enclosure-message-intro"
                        style="margin: 0px 0px 10px 0px; color: #000000;"
                      >
                        <strong>Message :</strong>
                      </p>
                      <!-- th:if="${enclosure.get('message').getAsString() != '' && enclosure.get('message').getAsString() != ' '}" -->
                      <p th:if="${enclosure.get('message').getAsString() != '' && enclosure.get('message').getAsString() != ' '}" 
                        class="ft-email-enclosure-message-body"
                        style="margin: 10px 0px 16px 0px; color: #414856;"
                      >
                        <!-- th:text="${enclosure.get('message').getAsString()} -->
                        <span
                          ><a th:text="${enclosure.get('message').getAsString()}"></a></span
                        >
                      </p>
                      <!-- / Optionnel -->

                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="470"
                        style="border-collapse: collapse;"
                      >
                        <!-- : Répéter (pour chaque fichier à la racine du pli) -->
                        <!-- th:each="rootFile : ${enclosure.get('rootFiles')}" -->
                        <tr th:each="rootFile : ${enclosure.get('rootFiles')}">
                          <!-- Note : taille de l'icône fichier sur cercle bleu : 36x36px -->
                          <td
                            class="ft-email-enclosure-contents-item-icon-file"
                            align="center"
                            valign="middle"
                            width="36"
                            style="padding: 4px 0px 4px 0px; text-align: center; color: #0269CC; font-size: 24px;"
                          >
                            <!--[if (gte mso 9) | (IE)]>
                              <strong
                                ><img
                                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEu
Nv1OCegAAAJOSURBVFhHY/hPBLjx4tOk/c9CZl3XbDjHX3iGJQuEgAz1hnNBM6/17316+dlHqFK8
AJ9lf//9W3LyhWnHRabMMwSRYeuFucee//zzF6oZG8Bp2bYrb9Tqz6OZSBApVJ9bf+EV1AgMgMWy
zz9+py29hWYKSSh2/s13X39CjUMC6JY9ef9Nv4WocMOP1Bsu3H/zFWooDKBYBrRJpfYCmjaykUL1
eTT7EJYBQ48qfkJG6vUXkMMTYVn6sttoSqmCoufdhFoAt2zH1TdoiqiI1px7CbEFZNm///81GkhO
5cQjuapz33//gVq27PQLNGlM5Nt1tGHLU2SkWn4cTQ0eNPPwM6hlll0E0kXH2gtAZWjg+et3mlUn
0FTiQrrN54FaGO68/oImgYnef/y04MB9ZBEy7Dv/+APDtIPP0EQxEdBcYLihiaw4+hBoGfH2de58
whA57yaaKCbCtAziV6A1xNvnM/Uqg14L4XQIt+z+sze/f//WrTiAFotA+5DVY0VKtWcZRErQRTER
0DiIZYmzL9VueMSXA0qH8PR54OYnoAK4YlyIK+8MA2fuaTRRTAS3DCsCShFjGRCRZhkwGIFsOICE
HgmWkRqMQAYcZS64ChQEMoixDBSMJCUQrIhIy0AJhKSkT0kwgpI+SZmakmAEZWryiitkNGPPvc9f
vqIJYiJQcQV0FHkFMTKYshXkRTwIWhADMXlVDByFTiBcViGqGLpWnkBAv2YBBNCvwQMEdG3KAQH9
GqkQQL/mNwTQr2MBB3TqMsEB/TqDyIA63dz//wExLLFF5+/BugAAAABJRU5ErkJggg=="
                                  alt="&#x1f5ce;"
                              /></strong>
                            <![endif]-->
                            <!--[if !((gte mso 9) | (IE))]><!-->
                            <!-- th:src="${fileIcone}" -->
                            <!-- avec mail.image.ft.file=https://recette.francetransfert.culture.gouv.fr/email-contents/root-file.png -->
                            <strong
                              ><img
                                alt="&#x1f5ce;"
                                th:src="${fileIcone}"
                            /></strong>
                            <!--<![endif]-->
                          </td>

                          <td
                            class="ft-email-enclosure-contents-item-description"
                            align="left"
                            valign="middle"
                            style="padding: 4px 0px 4px 15px; text-align: left; color: #414856; font-size: 13px;"
                          >
                            <p
                              class="ft-email-enclosure-contents-item-name"
                              style="margin: 0px 0px 3px 0px; color: #000000;"
                            >
                              <strong>
                                <!-- th:text="${rootFile.get('nameWithoutExtension').getAsString()}" -->
                                <span><a th:text="${rootFile.get('nameWithoutExtension').getAsString()}"></a></span>
                              </strong>
                            </p>
                            <p
                              class="ft-email-enclosure-contents-item-details"
                              style="margin: 3px 0px 0px 0px; color: #414856; font-size: 12px;"
                            >
                              <!-- th:text="${rootFile.get('size').getAsString()}" -->
                              <span><a th:text="${rootFile.get('size').getAsString()}"></a></span>
                              <strong>&nbsp;&bull;&nbsp;</strong> Fichier
                              <!-- th:text="${rootFile.get('extension').getAsString()}" -->
                              <span><a th:text="${rootFile.get('extension').getAsString()}"></a></span>
                            </p>
                          </td>
                        </tr>
                        <!-- / Répéter -->

                        <!-- : Optionnel (s'il y a des fichiers au-dessus) -->
                        <!-- th:if="${enclosure.get('rootFiles').size() > 0}" -->
                        <tr th:if="${enclosure.get('rootFiles').size() > 0}">
                          <td
                            colspan="2"
                            class="ft-email-enclosure-contents-sep"
                            style="padding: 0px 0px 0px 0px;"
                          >
                            <hr />
                          </td>
                        </tr>
                        <!-- / Optionnel -->

                        <!-- : Répéter (pour chaque dossier à la racine du pli) -->
                        <!-- th:each="rootDir : ${enclosure.get('rootDirs')}" -->
                        <tr th:each="rootDir : ${enclosure.get('rootDirs')}">
                          <!-- Note : taille de l'icône dossier sur cercle bleu : 36x36px -->
                          <td
                            class="ft-email-enclosure-contents-item-icon-folder"
                            align="center"
                            valign="middle"
                            width="36"
                            style="padding: 4px 0px 4px 0px; text-align: center; color: #0269CC; font-size: 24px;"
                          >
                            <!--[if (gte mso 9) | (IE)]>
                              <strong
                                ><img
                                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEu
Nv1OCegAAAI/SURBVFhHY/hPBLjx4tOk/c9CZl3XbDjHX3iGJQuEgAz1hnNBM6/17316+dlHqFK8
AJ9lf//9W3LyhWnHRabMMwSRYeuFucee//zzF6oZG8Bp2bYrb9Tqz6OZSBApVJ9bf+EV1AgMgMWy
zz9+py29hWYKSSh2/s13X39CjUMC6JY9ef9Nv4WocMOP1Bsu3H/zFWooDKBYBrRJpfYCmjaykUL1
eTT7EJYBQ48qfkJG6vUXkMMTYVn6sttoSqmCoufdhFoAt2zH1TdoiqiI1px7CbEFZNm///81GkhO
5cQjuapz33//gVq27PQLNGk0JJR7TLFwPwSJ5h1GkyUGzTz8DGqZZRfOdMGWdWrFwVtANchgwe6r
QHE0lfiRbvN5oEaGO6+/oEkgo8hJJ4GKGlZdSpx+BoImbL4CFImcfBpNJUF0/vEHhmkHn6GJIqOG
LU+BRqMJPn7++v3HT/cfPYWjy7celCw8i6YMDXXufMIQOe8mmigywmpZ5NRzC/beREY7Tt0GKnNt
O4qmEhn5TL3KoNeCLx1itQwrAioDKkYTREZKtWcZRErQRZERFS3jyjvDwJmLL6qpaBkQ0dcyugYj
XRMIGUkfKyJoGSjpk5GpsSKCloEyNZHFVcL0M3hQxdILQGWJM8+haUdGoOIKqIhAQXwIvSDGCrac
vIendIYWxEBMVBVTtB8PEiNU7yCqGLpWnkBAv2YBBNCvwQMEdG3KAQH9GqkQQL/mNwTQr2MBB3Tq
MsEB/TqDyIA63dz//wF5tolND39WHAAAAABJRU5ErkJggg=="
                                  alt="&#x1f5c0;"
                              /></strong>
                            <![endif]-->
                            <!--[if !((gte mso 9) | (IE))]><!-->
                            <!-- th:src="${folerIcone}" -->
                            <!-- avec mail.image.ft.folder=https://recette.francetransfert.culture.gouv.fr/email-contents/root-dir.png -->
                            <strong
                              ><img
                                alt="&#x1f5c0;"
                                th:src="${folerIcone}"
                            /></strong>
                            <!--<![endif]-->
                          </td>

                          <td
                            class="ft-email-enclosure-contents-item-description"
                            align="left"
                            valign="middle"
                            style="padding: 4px 0px 4px 15px; text-align: left; color: #414856; font-size: 13px;"
                          >
                            <p
                              class="ft-email-enclosure-contents-item-name"
                              style="margin: 0px 0px 3px 0px; color: #000000;"
                            >
                              <strong>
                                <!-- th:text="${rootDir.get('name').getAsString()}" -->
                                <span><a th:text="${rootDir.get('name').getAsString()}"></a></span>
                              </strong>
                            </p>
                            <p
                              class="ft-email-enclosure-contents-item-details"
                              style="margin: 3px 0px 0px 0px; color: #414856; font-size: 12px;"
                            >
                              <!-- th:text="${rootDir.get('size').getAsString()}" -->
                              <span><a th:text="${rootDir.get('size').getAsString()}"></a></span>
                              <strong>&nbsp;&bull;&nbsp;</strong> Dossier
                            </p>
                          </td>
                        </tr>
                        <!-- / Répéter -->

                        <!-- : Optionnel (s'il y a des dossiers au-dessus) -->
                        <!-- th:if="${enclosure.get('rootDirs').size() > 0}" -->
                        <tr th:if="${enclosure.get('rootDirs').size() > 0}">
                          <td
                            colspan="2"
                            class="ft-email-enclosure-contents-sep"
                            style="padding: 0px 0px 0px 0px;"
                          >
                            <hr />
                          </td>
                        </tr>
                        <!-- / Optionnel -->
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
