<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FranceTransfert : fichiers envoyés</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    </style>
  </head>

  <body
    style="margin: 0px 0px 0px 0px; padding: 40px 0px 40px 0px; background-color: #D9D9D9; height: auto;
    font-family: Calibri, sans-serif"
  >
    <div class="container"
         style=" width:51%;  border-color: black;background-color : #ffffff; margin-left: 25%; border-radius: 10px;
         padding-bottom: 1rem;border-style: solid;border-width: thin;border-color: #454141;">
      <div th:insert="~{mail-header :: header}"></div>
      <div>
        <p style="margin: 23px 0px 19px 0px;font-size: 26px;text-align: center;">
          <strong>
            <span style="color: black">Code de confirmation </span>
          </strong>
        </p>
        <p style="margin: 0 44px;color: #414856;">
          Utilisez le code suivant pour valider la création de votre pli sur France transfert :
        </p>
      </div>
      <div>
        <p style="margin: 34px 0px 46px 0px;text-align: center;font-size: 25px;">
          <strong>
            <span style="color: #0269cc"><a th:text="${enclosure.get('code').getAsString()}"></a></span>
          </strong>
        </p>
      </div>
      <div>
        <p style="text-align: center;color: #414856;">
          Ce code est valable pendant <strong>10 minutes</strong>.  (jusqu’à <a th:text="${enclosure.get('dateExpiration').getAsString()}"></a>)
        </p>
        <p style="font-size: 12px;font-style: italic;margin: 24px 17px 0px 9px;text-align: center"
        >
          Si vous n’êtes pas à l’origine de cette opération, il se
          peut que votre adresse de courriel ait été usurpée. Nous
          vous conseillons alors de vous rapprocher de votre
          support informatique local et de lui montrer ce courriel
        </p>
      </div>
    </div>
  </body>
</html>
